<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'image/pample_logo_symbol.png' %}"
    />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'js/saveId.js' %}"></script>

    <title>폐수일지(WMS)</title>
  </head>
  <body>

    {% if user.is_authenticated %}
      <script type="text/javascript">
        location.href="/list";
      </script>
    {% endif %}

    <div class="login_box">
      <div class="login_title">폐수일지(WMS)</div>
      <form
        method="post"
        id="loginForm"
        name="loginForm"
        action="." >
        {% csrf_token %}
        <div class="form_box">
          <div class="input-box">
            <input type="text" id="id" name="user_id" placeholder="ID" />
            <input type="password" name="password" placeholder="Password" />
          </div>
          <input class="submit" type="submit" value="Login" />
        </div>
        <label for="checkId">아이디 저장</label>
        <input type="checkbox" id="checkId" />
        <a href="/register">회원가입</a>
      </form>
      <div class="login_fail">
        {% if messages %}
        {% for message in messages %}
        {{ message.message }}
        {% endfor %}
        {% endif %}
      </div>
      <div class="info">
        Copyright 일리움(주). All Rights Reserved
        <br />
        서비스 제휴 및 문의 : 010-4127-6257<br />
        ydkwon@ilium.co.kr
      </div>
    </div>
  </body>
</html>
